body {
	background-color: #008cff;
}

.center {
    margin: auto;
    width: 1200px;
    padding: 12px 0px 12px 0px;
}

#page-wrap{
	background: white;
	padding: 0px;
}

header{
	width: 1200px;
	height: 500px; 
	background: url(images/header.png);
	z-index: -1;
}

nav{
	position: absolute;
}

#langest{
	position: absolute;
	margin-left: 36px;
	margin-top: 12px;
	float: left;
}

#langrus{
	position: absolute;
	margin-left: 160px;
	margin-top: 12px;
}

.plank{
	margin-left: 48px;
	margin-bottom: -6px;
}

#rimi{
	margin-top: 80px;
	clear: left;
}

#title{
	position: absolute;
	margin-top: 36px;
	margin-left: 360px;
}

.search{
	position: absolute;
	margin-left: 840px;
	margin-top: 240px;
	width: 312px;
	height: 36px;
}

#side-image{
	position: absolute;
	margin-left: 900px;
	margin-top: 264px;
}

#contents{
	background-color: white;
}

#categories{
	float: left;
}

#categories ul {
    list-style-type: none;
    margin-left: 24px;
    padding: 12px;
    width: 240px;
}

#categories li a {
    display: block;
    color: #000;
    margin: 8px;
    background-color: yellow;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#categories li a:hover {
    background-color: #555;
    color: white;
}

#products{
	float: right;
	width: 864px;
}

.productimage{
	float: left;	
}

.clearleft{
	clear: left;
}

footer{
	clear: both;
	text-align: center;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
